.main{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 29rem;
}
.divcontainer{
    border: 4px solid #daa520;
    height: 24rem;
    width: 24rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 4rem;
   margin-top: 5rem;

}
.titulo{
    color: white;
    margin-top: 2rem;
    font-family: 'Poppis';
}
