.main{
    background-color: #000000;
    height: 35vh;
    width: 100%;
    bottom: 0;
}
.icons{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 3rem;
}
.icons1{
    margin: 3rem;
}
.icons1:hover{
    color: #5e5e5e;
    transition: 1s;
}
.caminhos{
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}
.links{
    text-decoration: none;
    margin: 15px;
    color: white;
}
.links:hover{
    color: #daa520;
    transition: 1s;
}
.todosdireitosreservados{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #daa520;
    height: 3rem;
}
.titulocopyright{
    color: white;
}


@media only screen and (max-width: 450px) {
    .main{
        width:105rem;
        height: 25rem;
        margin-top: 83rem; 
     }
    
    .caminhos{
        font-size: 2.3rem;
        margin-top: 3rem;
        margin-left: 6rem;

    }
    .todosdireitosreservados{
        font-size: 2.3rem;
        margin-top: 4rem;
    }
    
}