.header {
    background-color: #000000;
    height: 19vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icons{
    margin: 5rem;
}

.links {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 50px;
    font-size: 25px;


}

.links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.links:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.butaocadastro{
    position: relative;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    border: none;
    border-radius: 10px;
    width: 11vw;
    height: 7vh;
    cursor: pointer;
}
.butaocadastro:hover{
    position: relative;
    /* background-color: rgb(189, 169, 59); */
  background-color: #868585;
  color: #fff;
    transition: 1s;
    text-decoration: none;
    font-size: 23px;
    margin-right: 50px;
    border: none;
    border-radius: 10px;
    width: 11vw;
    height: 7vh;
    cursor: pointer;
}
.img{
    margin-left: 20px;
}
.imagem{
    border-radius: 50%;
}
