.button {
    background-color: #000000;
    color: #ffffff;
    width: 12vw;
    height: 6vh;
    border-radius: 10px;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    margin-left: 45%;
    font-size: 15px;
    border-color: #daa520;
}

.mainprincipal {
    color: #daa520;
    font-family: 'Poppins';
    font-size: 35px;
    margin-left: 38%;
    margin-top: 3%;
}

.container {
    background-color: #000000;
}

.cadastroContainer{
    background-color: rgb(2, 2, 2);
    
}
.infos{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 20px;
    border: 8px double #daa520;
    height: 480px;
    width: 560px;
    
}


