@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@100&family=Sedgwick+Ave+Display&display=swap');

.principal {
    background-color: black;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.poster {

    background-color: rgb(0, 0, 0);
    margin-bottom: 25px;
    align-items: center;
    text-align: center;


}

.infos {
    font-size: 20px;
    border: 8px double #daa520;
    height: 20rem;
    width: 70rem;
    margin-bottom: 10px;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    justify-content: center;
}

.qudrosDiv {
    background-color: rgb(0, 0, 0);
    width: 25rem;
    height: 26rem;
    margin: 33px;
    border: 10px double #daa520;
    box-shadow: 23px 24px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    
}

.imgsQuadrosFixos {
    width: 18rem;
    height: 200px;
    margin-left: 48px;
    margin-top: 20px;
    border-radius: 20px;
}

.testoDiv {
    color: #ffffff;
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 2rem;
    margin-top: 25px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.button {
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
    padding: 9px;
    color: rgb(255, 255, 255);
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.direitos {
    color: rgb(199, 199, 199);
    margin-left: 66px;
    margin-bottom: 5px;
    font-size: 14px;
}
.titulo{
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 3%;
}
.tituloquadro{
    color: #daa520;
    text-align: center;
    margin-right: 5%;
    font-size: 20px;
}

