
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@100&family=Sedgwick+Ave+Display&display=swap');

.main{

    background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    background-color: white;

    
}

.poster{ 
   
     background-color: rgb(0, 0, 0) ;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 10px double rgb(252, 252, 252); ;
    border-radius: 20px;
    box-shadow: 23px 24px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;

  
}

.infos{
    font-size:18px;
    border: 10px double rgb(0, 0, 0);    
    height: 10px;
    margin-bottom: 10px;
    height: 240px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    

}

.qudrosDiv{
    background-color: rgb(0, 0, 0);
    width: 25rem;
    height: 26rem;
    margin:33px;
    border: 10px double #ffffff;
    border-radius: 20px;
    box-shadow: 23px 24px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;



}

.imgsQuadrosFixos{
    width: 18rem;
    height: 200px;
margin-left: 48px;
margin-top: 20px;
border: 8px double #ffffff;
border-radius: 20px;

}

.testoDiv{
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin-left: 25px;
    margin-bottom:2rem ;
    margin-top: 25px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.button{
    background-color:rgb(0, 0, 0);
    margin-top: 30px;
    margin-left: 5px;
    padding: 9px;
    color: rgb(255, 255, 255);
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    
}
.direitos{
    color: rgb(134, 133, 133);
    margin-left: 66px;
    margin-bottom: 5px;
    font-size: 14px;
}