.main{
    background-image: url("https://s2.glbimg.com/J9plVyzuEIMsN7a1d3TVfNucEY2gJ2xTW1L6mk3ngA1Ioz-HdGixxa_8qOZvMp3w/e.glbimg.com/og/ed/f/original/2012/10/04/expo_picasso_guggenheim_17.jpg");
    font-family: 'Poppins', sans-serif;
  display: flex;
    flex-wrap: wrap;
    
}
.blocos{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 420px;
    margin: 33px;
    border: 10px double #d6d6d6;
    box-shadow: 23px 24px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 200px;
}
.infos{
    color: #d4d4d4;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 2rem;
    margin-top: 25px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.title{
        color: #ffffff;
        text-align: center;
        font-family: 'Poppins';
        margin-bottom: 3%;
        background-color: black;
}
.button {
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
    padding: 9px;
    color: rgb(255, 255, 255);
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.primeirobtn{
    text-align: center;

    margin-top: 30px;

    background-color: #000000;

    color: #fff;

    border-color: #daa520;

    width: 155px;

    height: 4vh;

    border-radius: 10px;

    font-size: 16px;
}
.imgsQuadrosFixos {
    width: 12rem;
    height: 200px;
    margin-top: 20px;
    text-align: center;

}
