@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@100&family=Sedgwick+Ave+Display&display=swap');

.principal{
    display: flex;  
    background-color: #000000;
}
.maeinputs{
    width: 27rem;
    height: 30rem;
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    
}
.titulo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    font-family: 'Poppins';
   
}
.divinputs{
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 25rem;
    height: 29rem;
    border: 3px solid #daa520;
    padding: 3rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    
    
}

.inp1{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: 0.5px solid white;
    background-color: #000000;
    text-decoration: none;
    border: none;
    margin-top: 2rem;
    margin-left: 0.5rem;
    
    

}

.hr{
    color: black;
    width: 15rem;
    margin-left: 2rem;
    text-align: center;
    align-items: center;

}

.button{
    background-color: black;
    color: #daa520;
    border-color: #daa520;
    width: 9rem;
    height: 2rem;
    border-radius: 3rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    
}

.divicones{
    margin-top: 3rem;
    margin-bottom: 2rem;
}


.imagem{
    padding: 7rem;
    margin-left: 3rem;
}

.icons{
    margin: 1rem;
}