@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@100&family=Sedgwick+Ave+Display&display=swap');

.principal{
    display: flex;  
    background-color: #000000;
}
.maeinputs{
    width: 27rem;
    height: 30rem;
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    
}
.titulo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    font-family: 'Poppins';
   
}
.divinputs{
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 25rem;
    height: 29rem;
    border: 3px solid #daa520;
    padding: 3rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    
    
}

.inp1{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: 0.5px solid white;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 2rem;
    margin-left: 0.5rem;
    color: #fff;
    

}

.hr{
    color: black;
    width: 15rem;
    margin-left: 2rem;
    text-align: center;
    align-items: center;

}

.button{
    background-color: black;
    color: #daa520;
    border-color: #daa520;
    width: 9rem;
    height: 2rem;
    border-radius: 3rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    
}

.divicones{
    margin-top: 3rem;
    margin-bottom: 2rem;
}


.imagem{
    padding: 7rem;
    margin-left: 3rem;
}

.icons{
    margin: 1rem;
}

@media only screen and (max-width: 450px) {
    .principal{
        width: 105rem;
        height: 190rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        
    }
    .img{
        width: 100%;
        height: 55rem;
        margin-top: 10rem;
        padding: 10%;
    }
    .maeinputs {
        display: flex;
        height: 90rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 24px; /* Ajuste o tamanho da fonte para aumentar todos os elementos */
        margin-top: 2rem;
      }
      
      .divinputs button {
        font-size: 70px; /* Ajuste o tamanho dos inputs e botões */
        margin-top: 15rem;
      }
      .divinputs{
        width: 80rem;
        height: 80rem ;
        margin-top: 3rem;
        margin-left: 3rem;
      }
      .divicones {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
      }
      
      .icons {
        margin: 0 50px; /* Espaçamento entre os ícones */
      }
      
      /* Aumentando o tamanho dos ícones */
      .icons svg {
        font-size: 80px; /* Tamanho dos ícones */
        margin-bottom: 29rem;
      }
      .button{
        width: 40rem;
        height: 15rem;
        
      }
      .titulo{
        font-size: 6rem;
        margin-top: 25rem;
        margin-top: 8rem;
      }
    .hr{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        width: 60rem;
        margin-left: 7rem;
    }
    .inp1{
        width: 30rem;
        height: 5rem;
        font-size: 7rem;
        margin-top: 5rem;   
    }
    .fim{
        background-color: #000000;
        height: 50rem;
        width: 137rem;
        height: 100rem;
        margin-left:-50rem;
        margin-top: -30rem;
       
        
    }
    
 
   
    

}