
.contato{
    width: 400px;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    box-shadow: grey;
}

.nome{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.email{
    font-size: 1.5rem;
    color: #fff;
}

.enviarMsg{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.enviarMsg:hover{
    background-color: #000;
    color: #fff;
}
